# dependencies
node_modules

# next
.next
out

# production
build

# env
.env
.env.local
.env.development
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# mac
.DS_Store
__MACOSX

# typescript
tsconfig.tsbuildinfo

# ssh keys
.ssh

# vercel
.vercel

# misc
*.pem
*.key
.env*.local
